@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,400italic,300italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);
/* ==========================================================================
Typography
========================================================================== */
p {
  font-size: 15px;
  line-height: 29px;
  color: rgba(28, 54, 83, 0.6);
  padding-bottom: 20px; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 40px;
  font-weight: 300;
  color: #3D4351; }

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #3D4351; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 15px;
  color: #3D4351;
  text-transform: uppercase;
  font-weight: 500; }

.btn {
  font-size: 13px;
  border: solid 2px;
  border-radius: 40px;
  display: inline-block;
  text-transform: uppercase;
  }

.btn:hover, .btn:focus {
  color: #fff;
  border-color: #e2a43f;
  background-color: #e2a43f;
  transition:.6s;
 }

.btn-white {
  font-size: 13px;
  border: solid 2px;
  border-radius: 40px;
  display: inline-block;
  border-color: #d0d0d0; }

.btn-white:hover, .btn-white:focus {
  color: #e2a43f;
  border-color: #e2a43f; }

.btn-fill {
  color: #fff;
  border: solid 2px #e2a43f;
  border-radius: 40px;
  display: inline-block;
  text-transform: uppercase;
  background-color: #e2a43f; }

.btn-fill:hover, .btn-fill:focus {
  color: #fff;
  background-color: #d5a14c;
  border-color: #d0d0d0; }

.btn-small {
  padding: 8px 40px; }

.btn-large {
  padding: 15px 40px; }

.btn-margin-right {
  margin-right: 20px; }

section.intro, section.features-extra, section.sign-up {
  background: #fff; }

section.features, section.blog-intro, section.blog {
  background: #F3F4F8; }

/* ==========================================================================
Global Styles
========================================================================== */
.group:after {
  content: "";
  display: table;
  clear: both; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

a {
  color: #e2a43f;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color; }

a:hover, a:focus {
  color: #e2a43f;
  text-decoration: none; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: rgba(28, 54, 83, 0.6);
  -webkit-text-size-adjust: 100%; }

ul, ol {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

.section-padding {
  padding: 120px 0; }

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4;
  visibility: visible;
  filter: alpha(opacity=0);
  opacity: 0; }

.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9; }

.tooltip.top {
  padding: 5px 0;
  margin-top: -3px; }

.tooltip.right {
  padding: 0 5px;
  margin-left: 3px; }

.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px; }

.tooltip.left {
  padding: 0 5px;
  margin-left: -3px; }

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #000;
  border-radius: 4px; }

/* ==========================================================================
Animations
========================================================================== */
.pulse2 {
  -webkit-animation-name: pulse2;
          animation-name: pulse2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; }

@-webkit-keyframes pulse2 {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes pulse2 {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
.floating-arrow {
  -webkit-animation-name: floating-arrow;
          animation-name: floating-arrow;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out; }

@-webkit-keyframes floating-arrow {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  65% {
    -webkit-transform: translate(-50%, 15px);
            transform: translate(-50%, 15px); }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }

@keyframes floating-arrow {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  65% {
    -webkit-transform: translate(-50%, 15px);
            transform: translate(-50%, 15px); }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }
.floating-logo {
  -webkit-animation-name: floating-logo;
          animation-name: floating-logo;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out; }

@-webkit-keyframes floating-logo {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  50% {
    -webkit-transform: translate(-50%, 10px);
            transform: translate(-50%, 10px); }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }

@keyframes floating-logo {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  50% {
    -webkit-transform: translate(-50%, 10px);
            transform: translate(-50%, 10px); }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }
/* ==========================================================================
Waypoinsts
========================================================================== */
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6, .wp7, .wp8, .wp9, .vishid {
  visibility: hidden; }

.wp2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight, .bounceInDown {
  visibility: visible; }

/* ==========================================================================
Navigation
========================================================================== */
.header-nav.open {
  visibility: visible;
  opacity: 0.9;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s; }

.nav-toggle {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 999999;
  padding: 10px 35px 16px 0;
  cursor: pointer; }

.nav-toggle:focus {
  outline: none; }

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 3px;
  border-radius: 1px;
  background: #fff;
  cursor: pointer; }

.nav-toggle span:before {
  top: -10px; }

.nav-toggle span:after {
  bottom: -10px; }

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

.nav-toggle.active span {
  background-color: transparent; }

.nav-toggle.active span:before, .nav-toggle.active span:after {
  top: 0; }

.nav-toggle.active span:before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.nav-toggle.active span:after {
  top: 10px;
  -ms-transform: translatey(-10px) rotate(-45deg);
  -webkit-transform: translatey(-10px) rotate(-45deg);
  transform: translatey(-10px) rotate(-45deg); }

.navicon {
  position: absolute;
  height: 26px;
  right: 10px;
  top: 34px;
  visibility: hidden;
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out; }

/* ==========================================================================
Hero
========================================================================== */
.particles-js-canvas-el{position:absolute;top:0px;}
.hero {
  height: 750px;
  background-color: #e2a43f;
  background-size: cover;
  position: relative; }
  @media screen and (max-width:850px){
    .hero{
      height: 750px;
      background: url("../img/SHIELDmbg3.png") center center;
      background-size: cover;
      position: relative;
    }
  }
  @media screen and (max-width:480px){
    .hero{
      height: 750px;
      background: url("../img/SHIELDmbgmobil2.png") center center;
      background-size: cover;
      position: relative;
    }
  }

  .hero .down-arrow a {
    color: #fff; }
  .hero h1 {
    color: #fff;
    margin-bottom: 40px; }
  .hero p.intro {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 80px; }
  .hero .hero-content {
    padding-top: 20%}

.navigation {
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 999; }

.fixed, .fixed2{
  position: fixed;
  background-color: #121212;
  z-index: 999;
  width: 100%; }

header {
  padding: 35px 0;
  position: relative;
  width: 1170px;
  margin: 0 auto;
  -webkit-transition: padding 300ms ease-in-out;
          transition: padding 300ms ease-in-out; }
  header a {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px; }
    header a.login {
      margin-right: 20px; }
  header .logo {
    display: inline-block; }
  header ul.primary-nav {
    margin: 0 0 0 75px;
    padding: 0; }
    header ul.primary-nav li {
      display: inline; }
      header ul.primary-nav li a {
        color: #fff;
        padding-right: 25px;
        position: relative;
        font-weight: 700;
       }
        header ul.primary-nav li a:hover {
          color: #e2a43f; }
      header ul.primary-nav li:last-child a {
        padding-right: 0px; }
  header ul.member-actions li {
    display: inline; }
    header ul.member-actions li a {
      color: #fff; }
      header ul.member-actions li a:hover {
        color: #e2a43f; }
  header .header-nav {
    display: inline-block;float:right; }
  header .member-actions {
    position: absolute;
    right: 0;
    top: 41px;
    -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out; }

.down-arrow {
  color: #fff;
  font-size: 30px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

/* ==========================================================================
Intro
========================================================================== */
.intro span.icon {
  font-size: 40px;
  color: #e2a43f;
  font-weight: bold; }

.intro-icon {
  display: inline-block;
  vertical-align: top;
  padding: 6px 0 0 0;
  margin-right: 20px;
  width: 40px; }

.intro-content {
  display: inline-block;
  width: 80%; }

/* ==========================================================================
Features-stack
========================================================================== */
.features {
  position: relative;}
  .features p {
    margin-bottom: 0;
    padding-bottom: 0; }
  .features h3 {
    margin: 0 0 20px 0; }
  .features span.icon {
    font-size: 35px;
    color: #e2a43f;
    font-weight: bold; }
  .features .feature-icon {
    display: inline-block;
    vertical-align: top;
    padding: 6px 0 0 0;
    margin-right: 20px;
    width: 35px; }
  .features .feature-content {
    display: inline-block;
    width: 75%; }
  .features .intro-icon {
    display: inline-block;
    vertical-align: top;
    padding: 6px 0 0 0;
    margin-right: 20px; }
  .features .intro-content {
    display: inline-block;
    width: 80%; }
  .features ul.features-stack {
    margin-top: 50px; }
  .features ul.features-stack li {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #E6E9EA; }
  .features ul.features-stack li:last-child {
    padding-bottom: 0px;
    border-bottom: none; }
  .features .ipad-wrap {
    width: 706px;
    height: 1002px;
    /*background: url("../img/ipad-device.png") no-repeat center center;*/
    z-index: 1; }
  .features .iphone-wrap {
    width: 350px;
    height: 620px;
    background: url("../img/SHIELDconnect.png") no-repeat center center;
    position: absolute;
    left: 530px;
    bottom: 150px;
    z-index: 2; }
  .features .device-showcase {
    position: absolute;
    bottom: -365px;
    right: 61%; }

.features .responsive-feature-img, .features-extra .responsive-feature-img {
  display: none; }

.devices {
  position: relative; }
#features{
  background: #131415;
}
.earthimg{
  width: 90%;left: 200px;height: auto;
}
#features .iphone-wrap{
  bottom:350px;left: 60%;
}
#features .responsive-feature-img{
  width:115%
  ;top:10px;
  position:relative;
}
.ow{
  margin-bottom:25px;margin-top:-15px;
}
.bs{
  margin-top:-15px;
}
#techinfo .leftcol h3, #techinfo .leftcol  h5{
  color:white;
  text-align:left;
}
#techinfo .rightcol h3{
  color:white;
  text-align:right;
}
#techinfo .rightcol h5{
  color:lightblue;
  text-align:right;
}
.shlogogum{
  width:24px;
  height:24px;
}
.bi{
  display:inline-block;
}
/* ==========================================================================
.features-extra
========================================================================== */
.features-extra {
  position: relative;
  z-index: 3; }
  .features-extra .btn {
    margin-top: 20px; }
  .features-extra .macbook-wrap {
    position: absolute;
    width: 922px;
    height: 537px;
    background: url("../img/SHIELDwallet.png") no-repeat center center;
    top: 114px;
    z-index: 4;
    left: 50%; }
.feature-list p, .feature-list h5, .feature-list h3{
  color:white;
}
/* ==========================================================================
.hero-strip
========================================================================== */
.hero-strip {
  margin-top: 120px;
  background: #333844 url("../img/SHIELDpolygonalbg.jpg") no-repeat center center;
  padding-bottom: 190px;
  position: relative; }
  .hero-strip i {
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #F69D52;
    vertical-align: top;
    margin-left: -8px;
    font-style: normal; }
  .hero-strip h2 {
    color: #fff;
    margin: 0 0 20px 0; }
  .hero-strip p {
    color: #ACB1B4; }
  .hero-strip .btn {
    margin-top: 10px; }
  .hero-strip .logo-placeholder {
    width: 230px;
    height: 230px;
    position: absolute;
    bottom: -285px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

/* ==========================================================================
.blog-intro
========================================================================== */
.blog-intro {
  padding-top: 160px; }
  .blog-intro h3 {
    margin-bottom: 70px; }
  .blog-intro .leftcol {
    padding-right: 100px;
    border-right: solid 1px #E6E9EA; }
  .blog-intro .rightcol {
    padding-left: 100px; }

/* ==========================================================================
.blog
========================================================================== */
.blog {
  padding-bottom: 120px; }
  .blog img {
    width: 100%;
    height: auto;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }
  .blog h2 {
    font-size: 11px;
    color: #ACB1B4;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 35px; }
  .blog .btn {
    margin-top: 20px; }
  .blog .blog-img-wrap {
    position: relative;
    overflow: hidden; }
    .blog .blog-img-wrap .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0; }
    .blog .blog-img-wrap i {
      color: #fff;
      font-size: 20px;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 25px;
      right: 35px; }
  .blog .blog-img-wrap:hover img, .blog .blog-img-wrap:focus img {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  .blog .blog-img-wrap:hover .overlay, .blog .blog-img-wrap:focus .overlay {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
    opacity: 1;
    z-index: 9; }
  .blog figcaption i {
    margin-left: 5px;
    font-size: 15px; }
  .blog figcaption a.blog-post-title {
    color: rgba(28, 54, 83, 0.6); }
  .blog figcaption a.blog-post-title:hover, .blog figcaption a.blog-post-title:focus {
    color: #3D4351; }

/* ==========================================================================
.testimonial-slider
========================================================================== */
.testimonial-slider {
  background: url("../img/testimonials-bg.jpg") no-repeat center center;
  background-size: cover; }
  .testimonial-slider .avatar {
    width: 82px;
    height: 82px;
    margin: 0 auto;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 50%;
    border: solid 3px #fff;
    background-color: #fff; }
    .testimonial-slider .avatar img {
      width: 82px;
      height: auto; }
  .testimonial-slider h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    margin: 30px 0; }
  .testimonial-slider p {
    color: #ACB1B4;
    text-transform: uppercase;
    letter-spacing: 2px; }

/* ==========================================================================
Sign up form
========================================================================== */
.sign-up .signup-form .sign-up-btn {
  padding: 15px 0;
  border-radius: 3px;
  width: 80%;
  font-size: 13px; }
.sign-up .signup-form .form-input-group {
  width: 80%;
  height: 55px;
  margin: 0 auto 10px;
  border-radius: 5px;
  border: solid 1px #E6E9EA;
  text-align: left;
  position: relative; }
  .sign-up .signup-form .form-input-group i {
    color: #e2a43f;
    font-size: 14px; }
  .sign-up .signup-form .form-input-group i:after {
    content: "";
    height: 30px;
    width: 1px;
    border-right: solid 1px #E6E9EA;
    position: absolute;
    top: 50%;
    left: 30px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .sign-up .signup-form .form-input-group i.fa-lock {
    font-size: 18px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-left: 20px; }
  .sign-up .signup-form .form-input-group i.fa-envelope {
    font-size: 14px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-left: 20px; }
  .sign-up .signup-form .form-input-group input {
    padding-left: 68px;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: none; }
  .sign-up .signup-form .form-input-group input::-webkit-input-placeholder {
    color: #BCC1C3; }
  .sign-up .signup-form .form-input-group input:-moz-placeholder {
    color: #BCC1C3; }
  .sign-up .signup-form .form-input-group input::-moz-placeholder {
    color: #BCC1C3; }
  .sign-up .signup-form .form-input-group input:-ms-input-placeholder {
    color: #BCC1C3; }

/* ==========================================================================
To top
========================================================================== */
.to-top {
  height: 60px;
  background-color: #495061; }
  .to-top .to-top-wrap {
    height: 60px;
    width: 70px;
    position: absolute;
    right: 0;
    text-align: center; }
    .to-top .to-top-wrap a {
      display: block;
      width: 100%;
      height: 100%;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.15); }
    .to-top .to-top-wrap a:hover, .to-top .to-top-wrap a:focus {
      background-color: rgba(0, 0, 0, 0.4); }
    .to-top .to-top-wrap i {
      font-size: 30px;
      line-height: 55px; }
  .to-top .row {
    position: relative; }

/* ==========================================================================
Footer
========================================================================== */
footer {
  background-color: #3D4351;
  position: relative; }
  footer p {
    color: #ACB1B4;
    font-size: 13px; }
  footer a {
    color: #fff; }
  footer a:hover {
    color: #e2a43f; }
  footer ul.footer-group {
    padding-top: 25px; }
  footer ul.footer-group li {
    display: inline-block; }
  footer ul.footer-group li a {
    font-size: 13px;
    text-transform: uppercase; }
  footer ul.footer-group li a:hover {
    color: #e2a43f; }
  footer ul.footer-group li {
    margin-right: 30px; }
  footer ul.footer-group li:last-child {
    margin-right: 0; }
  footer span.fa-heart {
    color: #ff415c;
    font-size: 15px;
    margin: 0 2px; }
  footer .social-share {
    position: absolute;
    background-color: #373D4A;
    right: 0;
    width: 40%;
    height: 100%;
    padding: 142px 0 0 70px; }
    footer .social-share p {
      color: #fff;
      text-transform: uppercase;
      padding-bottom: 10px; }
    footer .social-share a.twitter-share {
      height: 60px;
      width: 60px;
      background-color: #1AB4EF;
      border-radius: 3px;
      font-size: 22px;
      display: inline-block;
      text-align: center;
      margin-right: 20px; }
    footer .social-share a.twitter-share:hover, footer .social-share a.twitter-share:focus {
      background-color: #1590BF; }
    footer .social-share a.facebook-share:hover, footer .social-share a.facebook-share:focus {
      background-color: #324C85; }
    footer .social-share a.facebook-share {
      height: 60px;
      width: 60px;
      background-color: #3B5898;
      border-radius: 3px;
      font-size: 22px;
      display: inline-block;
      text-align: center; }
    footer .social-share a {
      color: #fff; }
    footer .social-share a:hover {
      color: #fff; }
    footer .social-share a i {
      margin-top: 20px; }
  footer .footer-links {
    margin: 0px 0 10px 0;
    text-align:center;
   }

.noborder{
border:none !important;
}

.nobp{
padding-bottom:0px !important;
color:white !important;
}

.twitter1:before { content: '\f081'; }
.reddit1:before {content: '\f1a2';}
.github1:before { content: '\f092';}
.bitcointalk1:before{content: '\f15a';}
.medium1:before{content: '\f23a';}
.dcdl{width: 26px;padding-bottom: 5px}
.twitter1,.reddit1,.github1,.bitcointalk1,.discord1,.medium1{
color:black;
display:inline;
}

.medium1, .bitcointalk1,.discord1,.twitter1 , .reddit1, .github1:before {
  font-family: fontawesome;
  font-weight: normal;
  font-size:24px;
}


.icontext{
display:inline;
text-transform: none !important;
color:black !important;
}

.welcome{padding-top: 12.5%;text-align:center;}
.rwelcome{ background-color: rgba(255,255,255,0.4);padding:32px;}
.joinbutton{color:white;background-color:#e2a43f;border:none;padding:16px 64px;font-size:27px;font-weight:800}
.wit{text-align:center;}
.witc{background:whitesmoke;}
.fl{font-size:25px;font-weight:400}
